body {
  background-color: pink;
  color:  olivedrab;
}

.img {
  background-image: url('../images/photo.jpg');
  width: 466px;
  height: 453px;
  display: flex;
  align-items: center;
  justify-content: center;
}